@tailwind base;
@tailwind components;
@tailwind utilities;
/* General scrollbar styles */
::-webkit-scrollbar{
    width:7px;
    height: 7px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background:black;
}

::-webkit-scrollbar-thumb:hover{
    background:#6556cd;
}
